body {
  font-family: Arial;
  background: #121212;
  color: white;
  text-align: center;
  padding-top: 50px;
}

input {
  padding: 10px;
  width: 70%;
}

button {
  padding: 10px;
  margin-top: 10px;
}
